{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="index_ctn">
        <div class="index_wtd">
            <div class="idx_first_ctn">
                <img src="{{asset('assets/images/mouton1.jpg')}}" alt="">
                <p>DOUDOU</p>
            </div>
            <div class="idx_deux_ctn">
                <img src="{{asset('assets/images/collection.jpg')}}" alt="">
                <p>PATERNE</p>
            </div>
        </div>
    </div>
{% endblock %}
