{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégory{% endblock %}

{% block body %}
<div class="admin_wth">
    <div class="admin_ctn">
        <div class="newproduct_admin">
            {{form_start(form)}}
            {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}
