.prf_ctn{
    display: flex;
    padding-top: 100px;
}
.prf_wth form{
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.prf_wth form div{
    display: flex;
    flex-direction: column;
    width: 45%;
}