.nav_link{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 57, 57);
    width: 100%;
}
.nav_center{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 60%;
}
.header_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_nav a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.nav_ctn{
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.navbar_nav_ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav_item_btn{
    position: relative;
    margin-left: 20px;
    height: 2vw;
}
.nav_item_btn i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav_item_btn a{
    display: flex;
    align-items: center;
    height: 100% !important;
}
.nav_item_btn img{
    height: 100%;
    margin-bottom: 10px;
}
.idx_acc_a{
    margin-left: 20px;
}
.nav_item_rgt, .nav_item_btn{
    list-style-type: none;
}
.nav_item_btn ul a{
    display: block;
}
.navbar_nav_ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.dropdown li{
    display: block;
    border-bottom: 1px solid rgba(78, 78, 78, 0.315);
}
.dropdown{
    position: absolute;
    z-index: 999;
    background-color: white;
    padding: 0;
    width: 10vw;
    border-radius: 5%;
    /* top: 74px; */
    overflow: hidden;
    display: none;
    box-shadow: rgba(149, 157, 165, 0.493) 0px 8px 24px;
}
ul li:hover .dropdown{
    display: block;
}
.dropdown li a{
    font-weight: lighter;
    color: black;
    padding: 20px;
}
.dropdown li:hover{
background-color: rgb(163, 57, 57);
}
.dropdown li a:hover{
    color: white;
    font-weight: 450;
}